.c_navigation {
  margin-left: auto;
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: 0.5s all var(--transition);
  pointer-events: none;
  @include mq(m){
    display: none;
  }
  &[aria-expanded="true"] {
    opacity: 1;
    pointer-events: auto;
    &.__isActive {
      opacity: 0;
      pointer-events: none;
    }
  }
  &-list {
    font-size: 12px;
    &-item {
      margin: 0 60px 0 0;
    }
  }
}
.c_header {
  &.__isActive {
    .c_navigation {
      opacity: 1;
      pointer-events: auto;
      &[aria-expanded="true"] {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
