nav.c_header-navigation.c_navigation(data-button-contents="hamburger-button-contents" aria-expanded="false")
  ul.c_navigation-list.t_Roboto.t_flex
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Story") Story
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Innovation") Innovation
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Sustainability") Sustainability
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Lineup") Lineup
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Shop") Shop
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Support") Support
