nav.c_header-navigation.c_navigation(data-button-contents="hamburger-button-contents" aria-expanded="false")
  ul.c_navigation-list.t_Roboto.t_flex.u_weight600
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Concept") Concept
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Products") Products
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Functions") Functions
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Shop") Shop
    li.c_navigation-list-item.u_letter-spacing50
      a(href="#Support") Support
