.p_gui {
  margin-bottom: 80px;
  justify-content: center;
  @include mq(m){
    margin-bottom: 50px;
  }
  &__three {
    @include mq(m){
      justify-content: left;
      .p_gui-list {
        width: 33%;
        margin-bottom: 20px;
      }
    }
  }
  &__left {
    justify-content: left;
    .p_gui-list {
      padding: 0 40px 0 0;
      &:nth-child(2n) {
        padding: 0 40px;
      }
    }
  }
  &-list {
    padding: 0 40px;
    border-right: 1px solid #C1BEB7;
    align-items: center;
    position: relative;
    @include mq(m){
      padding: 0 10px;
    }
    &.__isActive {
      button {
        span {
          &:after {
            display: block;
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 3px;
            background: black;
            content: "";
          }
        }
      }
    }
    button {
      display: block;
      font-size: 16px;
      width: 100%;
      font-style:inherit;
      transition: all .5s var(--transition);
      opacity: 1;
      @include mq(m){
        font-size: 12px;
      }
      &:hover {
        opacity: .4;
      }
      span {
        display: inline-block;
        position: relative;
      }
    }
  }
}