.p_spec {
  margin-bottom: 50px;
  &-wrapper {
  }
  &-title {
    font-size: 16px;
    margin-bottom: 30px;
    @include mq(m){
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  &-item {
    &-list {
      border-top: 1px solid var(--main-color);
      &:last-child {
        border-bottom: 1px solid var(--main-color);
      }
      dl,p {
        padding: 20px 0;
        @include mq(m){
          display: block;
        }
        small {
          font-size: 13px;
        }
        dt {
          width: 115px;
          @include mq(m){
            width: 100%;
            margin-bottom: 10px;
          }
        }
        dd {
          width: calc(100% - 115px);
          @include mq(m){
            width: 100%;
            font-size: 12px;
          }
        }
      }
    }
  }
}