footer.c_footer
  div.t_wrapper
    div.c_footer-body.t_flex
      p.c_footer-logo.u_desktop
        +img(`${_RESOURCES}assets/images/components/footer/logo.svg`, `出口化成`)
      div.c_footer-contents
        p.c_footer-contents-title.t_Roboto.u_letter-spacing100.u_weight400 time Official SNS
        ul.c_footer-contents-item
          li.c_footer-contents-item-list
            a(target="_blank" href="https://www.instagram.com/time_furniture.jp/").t_flex
              i.icon-Instagram
              span.u_letter-spacing50.u_weight400 公式Instagram
    p.c_footer-logo.u_md
      +img(`${_RESOURCES}assets/images/components/footer/logo_mobile.svg`, `出口化成`)
    small.c_footer-copy.u_letter-spacing50 © 2023 IDEGUCHI Kasei CO., LTD.



