button.c_header-hamburger.c_hamburger(type="button" data-button="hamburger-button" aria-expanded="false" aria-label="メニュー")
  ul.c_hamburger-list
    li.c_hamburger-list-item
    li.c_hamburger-list-item
    li.c_hamburger-list-item