div.c_movie
  div#iframe_player_api
  div.c_movie-closeBtn
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve"><g><path class="movie_close" d="M24,48C10.8,48,0,37.2,0,24S10.8,0,24,0s24,10.8,24,24S37.2,48,24,48z M24,2C11.9,2,2,11.9,2,24s9.9,22,22,22 s22-9.9,22-22S36.1,2,24,2z"/><path class="movie_close" d="M14,35c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l20-20c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-20,20C14.5,34.9,14.3,35,14,35z"/><path class="movie_close" d="M34,35c-0.3,0-0.5-0.1-0.7-0.3l-20-20c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l20,20c0.4,0.4,0.4,1,0,1.4 C34.5,34.9,34.3,35,34,35z"/></g></svg>
