div.c_openNav(data-button-contents="hamburger-button-contents" aria-expanded="false")
  div.c_openNav-contents.t_inner
    ul.c_openNav-list.t_Roboto
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Story" data-button="hamburger-button" aria-expanded="false") Story
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Innovation" data-button="hamburger-button" aria-expanded="false") Innovation
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Sustainability" data-button="hamburger-button" aria-expanded="false") Sustainability
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Lineup" data-button="hamburger-button" aria-expanded="false") Lineup
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Shop" data-button="hamburger-button" aria-expanded="false") Shop
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Support" data-button="hamburger-button" aria-expanded="false") Support
    ul.c_openNav-sns.t_flex
      li.c_openNav-sns-item
        a(href="#" target="_blank")
          i.icon-Instagram
      li.c_openNav-sns-item
        a(href="#" target="_blank")
          i.icon-twitter
      li.c_openNav-sns-item
        a(href="#" target="_blank")
          i.icon-facebook
      li.c_openNav-sns-item
        a(href="#" target="_blank")
          i.icon-pinterest

  div.c_openNav-bg(data-button-bg="hamburger-button-bg")
