div.c_openNav(data-button-contents="hamburger-button-contents" aria-expanded="false")
  div.c_openNav-contents.t_inner
    ul.c_openNav-list.t_Roboto
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Concept" data-button="hamburger-button" aria-expanded="false") Concept
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Products" data-button="hamburger-button" aria-expanded="false") Products
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Functions" data-button="hamburger-button" aria-expanded="false") Functions
      li.c_openNav-list-item.u_letter-spacing50
        a(href="#Support" data-button="hamburger-button" aria-expanded="false") Support
    ul.c_openNav-sns.t_flex
      li.c_openNav-sns-item
        a(href="https://www.instagram.com/time_furniture.jp" target="_blank")
          i.icon-Instagram


  div.c_openNav-bg(data-button-bg="hamburger-button-bg")
